<% if object.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <%= t "shared.error_messages.form_error"%> <%= pluralize object.errors.count, t("shared.error_messages.error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
